.thim_header_style2 header.site-header .no-right{
    text-align: left !important;
}
.comments-container {
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}
#submit-comment:hover {
    background: #00b0ff;
    border-color: #00b0ff;
}
#comment {
    max-width: 830px;
}
#googleMap {
    width:100%;
    height:400px;
}
.nav-tabs {
    background: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border-width: 0;
}
.nav-tabs > li > a {
    border: none;
    color: #00b0ff !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    border: none;
    color: #fff !important;
    background: #00b0ff !important;
}
.nav-tabs > li > a::after {
    content: "";
    background: #f6a233;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}
.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
    transform: scale(1);
}
.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}
.tab-pane {
    padding: 15px 0;
}
.tab__comment .tab-content {
    padding: 20px;
}
.nav-tabs a {
    text-transform: uppercase;
}
.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}
h3.title {
    font-size: 24px;
    font-weight: 700;
}
.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}
.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}
.comments-list {
    margin: 0;
    position: relative;
}
.comment-main-level .comment-box {
    padding-left: 0;
}
.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}
.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}
.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}
/*** Avatar -----*/

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
    border: 3px solid #FFF;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.reply-list .comment-box {
    padding-left: 0;
}
.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
.comments-list .comment-box:before,
.comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, .075);
    top: 8px;
    left: -11px;
}
.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.05);
    left: -12px;
}
.comment-box .comment-head {
    background: rgba(0, 0, 0, .075);
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.comment-box .comment-head i:hover {
    color: #00b0ff;
}
.comment-box .comment-name a {
    color: #283035;
}
.comment-box textarea {
    height: 70px;
    margin: 0;
}
.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}
.comment_area {
    height: 70px;
}
.comment-box .comment-content {
    background: #fcfcfc;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
    color: #00b0ff;
}
.comment-box .comment-name.by-author:after {
    content: 'autor';
    background: #00b0ff;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.reply-list li {
    margin-bottom: 0;
    border-left: 1px solid #ccc;
    padding-bottom: 15px;
}
.reply-list li:last-child {
    padding-bottom: 0;
}
.fix-w-h{
    height: 300px;
    width: 269px;
}
.fix-img-cp{
    height: 500px;
    width: 870px;
}
